/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AnmolLipi;
    src: url("./assets/fonts/AnmolLipi/AnmolLipiThickRegular.ttf");
}

.anmol-lipi {
    font-family: AnmolLipi, sans-serif;
}